* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

#waybar {
    /* */
    background: rgba(10, 10, 10, 1);
    color: #cccccc;
    font-family: Cantarell, Noto Sans, sans-serif;
    font-size: 1rem;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery.low {
    color: orange;
}

#cpu.warning {
    color: #fab387;
}

#cpu.critical {
    color: #f38ba8;
}

#memory.warning {
    color: #fab387;
}

#memory.critical {
    color: #f38ba8;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: rgba(10, 10, 10, 1);
    border-top: 0.1rem solid white;
}

#network {
    /* No styles */
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
}

#temperature {
    /* No styles */
}

#temperature.critical {
    color: red;
}

#tray {
    /* No styles */
}

#window {
    font-weight: bold;
}

#workspaces button.active {
    color: #FFFFFF;
}

#workspaces button {
    /* To compensate for the top border and still have vertical centering */
    color: #FFFFFF;
}

#workspaces button.focused {
    background-color: #888888;
}

#workspaces button.urgent {
    border-color: #eba0ac;
    color: #f38ba8;
}
